@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Poppins", sans-serif;
  background-image: url(assets/garagem.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 3px solid #00b2ca;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  max-width: 300px;
  padding: 0;
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #00b2ca;
}

.details {
  padding: 20px;
}

#name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

#status {
  font-size: 18px;
  font-weight: bold;
  color: #00b2ca;
  text-align: left;
  margin-top: 0;
}

#type,
#species,
#gender,
#origin {
  font-size: 16px;
  color: #555;
  margin: 3px 0;
  text-align: left;
}

@media (max-width: 768px) {
  .card {
    width: 50%;
  }
  .navbar {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    max-width: 100%; 
    
  }
  .nav-links {
    margin-top: 10px; 
  }
  .nav-links li {
    margin: 5px 0;
  }

  img {
    border-bottom: none;
  }

  #name {
    font-size: 20px;
  }

  #status {
    font-size: 16px;
  }

  #type,
  #species,
  #gender,
  #origin {
    font-size: 14px;
  }
}
.card:hover {
  transform: scale(1.03);
}
.navbar {
  z-index: 999;
  background-color: #fefefe00;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: space-between;
  max-width: 40%;
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
  position:fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}

.logo img {
  max-height: 60px; 
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center; 
}

.nav-links li {
  margin: 0 10px; 
}

.nav-links li a {
  text-decoration: none;
  color: #009baf; 
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease; 
}

.nav-links li a:hover {
  color: #005dc0; 
}
.footer {
  background-color: #47474748;
  color: #fefefe; /* Cor do texto */
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* Ocupa toda a largura */
  max-width: 30%;
  margin: 0 auto;
  border-radius: 20px;

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-content img{
  width: 20px;
  margin-left: 5px;
}