@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-image: url(assets/Background.jpg);
  background-size: cover;
  height: 100vh;
}

body {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.character {
  width: 250px; /* Tamanho fixo para cada personagem */
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
#characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

.character:hover {
  box-shadow: 0 5px 20px 5px #00b2ca;
  transform: translateY(-5px);
  img {
    border: 2px solid #00b2ca;
  }
}

.character img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.character p {
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #333;
}

.img-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
  max-height: 300px;
  margin: auto;
}
.select-filter {
  color: rgb(0, 0, 0);
  margin: 5px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  width: 150px;
  background-color: rgb(214, 214, 214);
  transition: background-color 0.3s ease;
}
.filters {
  text-align: center;
  background-color: (255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.select-filter:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.apply-filters {
  text-align: center;
  margin-top: 10px;
}

#apply-button {
  color: white;
  background-color: #00000000;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#apply-button:hover {
  background-color: #009baf;
}
#loadMore:hover {
  background-color: #009baf;
}

#loadMore {
  border: 0.125rem solid #00b2ca;
  background-color: #00b2ca;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem;
  width: 180px;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: 500;
  transition: all 0.2s;
  display: flex;
}

@media (max-width: 768px) {
  .filters {
    padding: 10px;
  }
  .select-filter {
    width: 70%;
  }
  #apply-button {
    width: 70%;
  }
  .navbar {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    max-width: 100%; 
    
  }
  .nav-links {
    margin-top: 10px; 
  }
  .nav-links li {
    margin: 5px 0;
  }
  .img-logo{
    margin-top: 50px;
  }
  
}

.loadMore-container {
  display: flex;
  justify-content: center;
}

.loadMore-container button {
  width: 150px;
  height: 50px;
  margin: 20px;
}

.navbar {
  z-index: 999;
  background-color: #fefefe00;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: space-between;
  max-width: 40%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  position:static;
  top: 0%;
  left: 0%;
  right: 0%;
}

.logo img {
  max-height: 40px; 
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center; 
}

.nav-links li {
  margin: 0 10px; 
}

.nav-links li a {
  text-decoration: none;
  color: #009baf; 
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease; 
}

.nav-links li a:hover {
  color: #005dc0; 
}